/*
Imported Fonts
font-family: 'Jost', sans-serif; (Light 300, Medium 500)
font-family: 'Titillium Web', sans-serif;
 */

/* Top navigation bar */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
  width: 90%;
  line-height: 60px;
}

.whattype {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 80px;
  text-align: center;
}

.tt {
  font-family: "Titillium Web", sans-serif;
}

.topbar {
  background-color: #fff;
  overflow: hidden;
  height: auto;
  padding: 20px 20px;
}

.topbar a {
  float: left;
  color: #000;
  text-align: center;
  font-size: 13px;
  text-decoration: none;
  font-family: "Titillium Web", sans-serif;
  width: 20%;
}

.topbar a:hover {
  color: #959595;
}

.topbar a:active {
  color: #959595;
}

/*Counseeling Banner*/

@keyframes counselling {
  from {
    color: rgba(255, 255, 255, 0);
  }
  to {
    color: rgba(255, 255, 255, 1);
  }
}

.counselling-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 60em;
  background-color: #888;
}

.counselling-banner h1 {
  position: absolute;
  color: #fff;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 70px;
  line-height: 70px;
  animation-name: counselling;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.counselling-banner button {
  position: absolute;
  top: 60%;
  width: auto;
  height: auto;
  border: 3px solid white;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 15px;
  color: #fff;
  padding: 5px;
}

.counselling-banner button:hover {
  color: #000;
  background-color: #fffcea;
  border: 3px solid white;
}

/* bar1 */
.bar1 {
  height: 5em;
  background-color: #000;
}

/* What? */
.counselling-what {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50em;
  background-color: #fff;
}

.title1 {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 70px;
  top: 12%;
}

.pt1 {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 22%;
}

.pt1 p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 0%;
  left: 17%;
}

.p1 {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 17%;
  top: 25%;
}

#png1 {
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
}

.pt2 {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 36%;
}

.pt2 p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 0%;
  left: 17%;
}

.p2 {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 17%;
  top: 25%;
}

#png2 {
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
}

.pt3 {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 49%;
}

.pt3 p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 0%;
  left: 17%;
}

.p3 {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 17%;
  top: 25%;
}

#png3 {
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
}

.pt4 {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 65%;
}

.pt4 p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 0%;
  left: 17%;
}

.p4 {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 17%;
  top: 25%;
}

#png4 {
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
}

.pt5 {
  width: 480px;
  height: 200px;
  position: absolute;
  top: 78%;
}

.pt5 p {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 30px;
  position: absolute;
  top: 0%;
  left: 17%;
}

.p5 {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  font-size: 20px;
  left: 17%;
  top: 25%;
}

#png5 {
  position: absolute;
  left: 5%;
  width: 40px;
  height: 40px;
}

/* Start */
.Start {
  height: 30em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #808080;
}

.Start h1 {
  position: absolute;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  top: 25%;
  color: #fff;
  font-size: 60px;
}

.Start p {
  font-family: "Titillium Web", sans-serif;
  position: absolute;
  text-align: center;
  top: 46%;
  font-size: 25px;
  color: #fff;
}

.Start button {
  position: absolute;
  width: auto;
  height: auto;
  border: 3px solid white;
  background-color: transparent;
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  position: absolute;
  top: 70%;
}

.Start button:hover {
  color: #000;
  background-color: #fff;
  border: 3px solid white;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 15em;
  background-color: #11201e;
}

.footer a {
  position: absolute;
  top: 15%;
}

@keyframes backtotop {
  0% {
    top: 15%;
  }
  50% {
    top: 13%;
  }
  100% {
    top: 15%;
  }
}

.footer a:hover {
  animation-name: backtotop;
  animation-duration: 0.5s;
  animation-iteration-count: 2;
}

.footer h1 {
  position: absolute;
  top: 30%;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-weight: 450;
  font-size: 20px;
  color: #fff;
}

.footer p {
  position: absolute;
  top: 70%;
  text-align: center;
  color: #fff;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
  font-size: 10px;
}
