/*
Imported Fonts
font-family: 'Jost', sans-serif; (Light 300, Medium 500)
font-family: 'Titillium Web', sans-serif;
 */

/* Top navigation bar */

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.topbar {
  	background-color: #FFF;
	overflow: hidden;
	height: auto;
	padding: 20px 20px;
}

.topbar a {
	font-family: 'Titillium Web', sans-serif;
	float: left;
	color: #000;
	text-align: center;
	font-size: 13px;
	text-decoration: none;
	
	width: 20%;
}	

.topbar a:hover {
	color: #959595;
}

.topbar a:active {
	color: #959595;
}


/* Banner */
@keyframes type{
	from {color: rgba(255, 255, 255, 0);}
	to{color: rgba(255, 255, 255, 1);}
}

.type-banner {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 40em;
    background-image: url(images/types1.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

.type-banner h1{
	position: absolute;
	color: #fff;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 450;
	font-size: 70px;
	line-height: 70px;
	animation-name: type;
	animation-duration: 2s;
	animation-iteration-count: 1;
}

/* bar */
.bar {
	height: 5em;
	background-color: #fff;
}

/* All types */
.title-container{
	padding-top: 140px;
}

.title {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 20vw;
	width: 100%;
}

.container {
	height: 750px;
	display: flex;
	position: relative;
}

.t1 {
	flex: 1;
	height:450px;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 100px;
}

.t2 {
	height: 450px;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.t3 {
	height: 450px;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.t4 {
	height: 450px;
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	
}

.container a{
	position: absolute;
	height: 135%;
	width: 80%;
	z-index: 20;
}

@keyframes pop{
	from{transform: scale(1);}
	to{transform: scale(1.2);}
}

a:hover + img{
	animation-name: pop;
	animation-duration: 0.1s;
	animation-fill-mode: forwards;
}


@media (max-width: 1400px) {
	.container {
		height: 1300px;
	}
  	.t1 {
    	position: absolute;
    	width: 50%;
 	}
 	.t2 {
    	position: absolute;
    	width: 50%;
    	right: 0%;	
 	}
 	.t3 {
    	position: absolute;
    	width: 50%;
    	bottom: 15%;
 	}
 	.t4 {
    	position: absolute;
    	width: 50%;
    	bottom: 15%;
    	right: 0%;
 	}
}

@media (max-width: 1000px) {
	.container {
		height: 2600px;
		justify-content: center;
	}
	.container a{
		width: 50%;
	}
  	.t1 {
    	position: absolute;
    	width: 100%;
 	}
 	.t2 {
    	position: absolute;
    	width: 100%;
    	top: 24%;

 	}
 	.t3 {
    	position: absolute;
    	width: 100%;
    	top: 48%;
 	}
 	.t4 {
    	position: absolute;
    	width: 100%;
    	top: 72%;
 	}
 	.title1 {
 		padding-bottom: 50px;
 	}
}

@media (max-width: 800px) {
	.container a{
		width: 60%;
	}
}

@media (max-width: 650px) {
	.container a{
		width: 75%;
	}
}

.container img{
	height: 400px;
	width: 400px;
	position: absolute;
	top: -15%;
}

.container h1{
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	position: absolute;
	font-size: 45px;
	top: 82%;
}

.container p {
	font-family: 'Jost', sans-serif;
	font-weight: 500;
	position: absolute;
	font-size: 25px;
	top: 96%;
	
}

.describe {
	font-family: 'Titillium Web', sans-serif;
	position: absolute;
	font-size: 18px;
	top: 107%;
	padding-left: 7%;
	padding-right: 7%;
	text-align: center;
}

/* Analyst */
.analyst {
	background-color: #E1CFC9;
	height: auto;
	position: relative;
}

#a h1{
	color: #5D3324;
}

#a p{
	color: #706865;
}

/* Diplomats */
.diplomats {
	background-color: #d4e8dc;
	height: auto;
	position: relative;
}

#b h1{
	color: #505752;
}

#b p{
	color: #6A746E;
}

/* Sentinels */
.sentinels {
	background-color: #C6E1F0;
	height: auto;
	position: relative;
}

#c h1{
	color: #4A545A;
}

#c p{
	color: #7C8D96;
}

/* Explorers */
.explorers {
	background-color: #EEE8C0;
	height: auto;
	position: relative;
}

#d h1{
	color: #595748;
}

#d p{
	color: #959178;
}


/* Footer */
.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 15em;
	background-color:#11201e;
}

.footer a{
	position: absolute;
	top: 15%;
}

@keyframes backtotop{
	0% {top:15%;}
	50% {top:13%;}
	100% {top:15%;}
}

.footer a:hover{
	animation-name: backtotop;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
}

.footer h1{
	position: absolute;
	top: 30%;
	text-align: center;
	font-family: 'Jost', sans-serif;
	font-weight: 450;
	font-size: 20px;
	color:#fff;
}

.footer p{
	position: absolute;
	top: 70%;
	text-align: center;
	color: #fff;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	font-size: 10px;
}
